h4 {
    margin: 2px !important;
}

nightingale-manager {
    display: flex !important;
    flex-direction: column !important;
}

.vf-hero .vf-hero__content {
    background-color: rgba(255, 255, 255, 0.9);
}

.grid-column {
    grid-auto-flow: column;
}

.full-width {
    margin-top: 50px;
}

.centered {
    justify-items: center;
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.prefix_input_container {
    position: relative;
    display: block;
    width: 100%;
    border: 2px solid #707372 !important;
    font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.421;
}

.right-align {
    text-align: right;
}

.hidden {
    display: none;
}

#pdb_viewer {
    position: relative;
    width: 100%;
    height: 600px;
}

.dataTables_filter input {
    font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    color: #1a1c1a;
    font-weight: 400;
    line-height: 1.421;
    border: 2px solid #707372 !important;
    border-radius: 0 !important;
}

.dataTables_length {
    padding-top: 4px;
    font-size: 19px;
    color: #1a1c1a;
}

.dataTables_length select {
    font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    color: #1a1c1a;
    font-weight: 400;
    line-height: 1.421;
    border: 2px solid #707372 !important;
    border-radius: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: none !important;
    background-color: #707372 !important;
    background-image: none !important;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.current,
.dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover {
    color: white !important;
    border: none !important;
    background-color: #707372 !important;
    background-image: none !important;
}

.dataTables_filter input:focus,
.dataTables_filter input:hover {
    border-color: #54585a !important;
    -webkit-box-shadow: 0 0 0 0.0625rem #54585a !important;
    box-shadow: 0 0 0 0.0625rem #54585a !important;
    color: #000000 !important;
    outline: 0 !important;
}

#show-members-btn {
    display: inline-block;
    vertical-align: super;
    padding: 2px;
    font-size: 14px;
}

#family-members-div {
    display:none;
    background-color: #e0ffe0;
    border: 1px solid gray;
    padding: 10px;
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
    text-align: justify;
    font-size: 13px;
}

.architecture-div {
    margin-bottom: 5px;
    line-height: 30px;
}
.descr-span {
    display: inline-block;
    width: 60px;
    font-weight: bold;
}
.domain-span {
    border: 1px solid black;
    border-radius: 25px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px;
}
.domain-span a {
    text-decoration: none !important;
    color: inherit !important;
}
