nightingale-manager {
    display: flex !important;
    flex-direction: column !important;
}

.vf-hero .vf-hero__content {
    background-color: rgba(255, 255, 255, 0.9);
}

.grid-column {
    grid-auto-flow: column;
}

.full-width {
    margin-top: 50px;
}

.centered {
    justify-items: center;
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.prefix_input_container {
    position: relative;
    display: block;
    width: 100%;
    border: 2px solid #707372 !important;
    font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.421;
}

.right-align {
    text-align: right;
}

.hidden {
    display: none;
}

#protein_sequence {
    height: 20em;
    padding: 1.5em;
    border: 1px solid gray;
    background-color: #e1fae8;
    font-size: 13px;
    word-wrap: break-word;
    overflow-y: scroll;
}

#pfams-table {
    margin-bottom: 10px;
}

.pfam-item a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.pfam-item a:hover {
    text-shadow: 0 0 1px currentColor;
}
