{% extends "explorer/base.html" %}
{% load static %}
{% block content %}

<section class="vf-content | vf-stack vf-stack--600">
    <p>Number of currently hosted <b>protein families:</b> {{ num_mgnifams }}</p>

    <form 
        method="get" action="/details/"
        class="vf-form vf-form--search vf-form--search--mini">
        <label for="id" class="vf-form__label">Enter MGnifam ID:</label>
        <input type="text" id="id" name="id" class="vf-form__input plp-input" required>
        <input type="submit" value="Go to Details" class="vf-button vf-button--primary">
        <button type="button" onclick="populateExample()" class="vf-button">Example</button>
    </form>

    <!-- Display error messages -->
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <p>Click <a href="{% url 'mgnifam_names' %}">here</a> to see all available <b>family IDs</b>.</p>

</section>

<script>
    function populateExample() {
        document.getElementById("id").value = "{{ first_id }}";
    }
</script>
{% endblock content %}
