{% extends "explorer/base.html" %}
{% load static %}
{% load custom_filters %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
{% endblock extra_head %}

{% block content %}
<div id="loading-overlay" aria-hidden="true">
    <div class="loading-spinner"></div>
</div>
<script src="{% static 'explorer/js/all_mgnifams.js' %}"></script>

<section class="vf-content | vf-stack vf-stack--400">
    <h3>Choose filters</h3>
    <div id="filters" class="filter-container">

        <!-- Sizes -->
        <div class="filter-category">
            <h4>Sizes range</h4>
            <div class="filter-row">
                <span>Full size:</span>
                <input type="number" id="full_size_min" min="1" placeholder="1">
                <input type="number" id="full_size_max" min="1" placeholder="Infinity">
            </div>
            <div class="filter-row">
                <span>Representative length:</span>
                <input type="number" id="rep_length_min" min="1" placeholder="1">
                <input type="number" id="rep_length_max" min="1" placeholder="Infinity">
            </div>
            </div>

            <!-- Compositional features -->
            <div class="filter-category">
            <h4>Compositional features range(%)</h4>
            <div class="filter-row">
                <span>Helix:</span>
                <input type="number" id="helix_min" min="0" max="100" placeholder="0">
                <input type="number" id="helix_max" min="0" max="100" placeholder="100">
            </div>
            <div class="filter-row">
                <span>Strand:</span>
                <input type="number" id="strand_min" min="0" max="100" placeholder="0">
                <input type="number" id="strand_max" min="0" max="100" placeholder="100">
            </div>
            <div class="filter-row">
                <span>Coil:</span>
                <input type="number" id="coil_min" min="0" max="100" placeholder="0">
                <input type="number" id="coil_max" min="0" max="100" placeholder="100">
            </div>
            </div>

            <!-- Predicted transmembrane features -->
            <div class="filter-category">
            <h4>Predicted transmembrane features range(%)</h4>
            <div class="filter-row">
                <span>Inside:</span>
                <input type="number" id="inside_min" min="0" max="100" placeholder="0">
                <input type="number" id="inside_max" min="0" max="100" placeholder="100">
            </div>
            <div class="filter-row">
                <span>Membrane-alpha:</span>
                <input type="number" id="membrane_alpha_min" min="0" max="100" placeholder="0">
                <input type="number" id="membrane_alpha_max" min="0" max="100" placeholder="100">
            </div>
            <div class="filter-row">
                <span>Outside:</span>
                <input type="number" id="outside_min" min="0" max="100" placeholder="0">
                <input type="number" id="outside_max" min="0" max="100" placeholder="100">
            </div>
            <div class="filter-row">
                <span>Signal:</span>
                <input type="number" id="signal_min" min="0" max="100" placeholder="0">
                <input type="number" id="signal_max" min="0" max="100" placeholder="100">
            </div>
            <div class="filter-row">
                <span>Membrane-beta:</span>
                <input type="number" id="membrane_beta_min" min="0" max="100" placeholder="0">
                <input type="number" id="membrane_beta_max" min="0" max="100" placeholder="100">
            </div>
            <div class="filter-row">
                <span>Periplasm:</span>
                <input type="number" id="periplasm_min" min="0" max="100" placeholder="0">
                <input type="number" id="periplasm_max" min="0" max="100" placeholder="100">
            </div>
        </div>
    </div>
    <button id="apply-filters-btn" class="vf-button vf-button--primary vf-button--sm">Apply filters</button>
</section>

<div id="filter-info-box" class="filter-info-box">No filters applied</div>

<section class="vf-content | vf-stack vf-stack--600">
    <h2>Available MGnifams</h2>
    <article class="vf-card vf-card--brand vf-card--bordered vf-stack--600">
        <div class="vf-card__content mgnifams-table-container | vf-stack vf-stack--600">
            <table id="mgnifams-table"
                   data-url="{{ mgnifams_data_url }}"
                   data-details-prefix="{{ details_url_prefix }}"
                   class="vf-table mgnifams-table .vf-u-margin__bottom--600">
                <thead class="vf-table__header">
                    <tr class="vf-table__row">
                        <th class="vf-table__heading" scope="col">ID</th>
                        <th class="vf-table__heading" scope="col">Full size</th>
                        <th class="vf-table__heading" scope="col">Representative length</th>
                        <th class="vf-table__heading" scope="col">Helix%</th>
                        <th class="vf-table__heading" scope="col">Strand%</th>
                        <th class="vf-table__heading" scope="col">Coil%</th>
                        <th class="vf-table__heading" scope="col">Inside%</th>
                        <th class="vf-table__heading" scope="col">Membrane-alpha%</th>
                        <th class="vf-table__heading" scope="col">Outside%</th>
                        <th class="vf-table__heading" scope="col">Signal%</th>
                        <th class="vf-table__heading" scope="col">Membrane-beta%</th>
                        <th class="vf-table__heading" scope="col">Periplasm%</th>
                    </tr>
                </thead>
                <tbody class="vf-table__body"></tbody>
            </table>
        </div>
    </article>
</section>

{% endblock content %}
