{% extends "explorer/base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<script src="{% static 'explorer/js/all_mgnifams.js' %}"></script>

<section class="vf-content | vf-stack vf-stack--400">
    <h3>Apply filters</h3>
    <div id="filters" class="vf-stack vf-stack--400">
        <div class="vf-stack vf-stack--400">
        <!-- Sizes -->
        <label>Full size min: <input type="number" id="full_size_min" min="1" placeholder="1"></label>
        <label>Full size max: <input type="number" id="full_size_max" min="1" placeholder="Infinity"></label>

        <label>Rep length min: <input type="number" id="rep_length_min" min="1" placeholder="1"></label>
        <label>Rep length max: <input type="number" id="rep_length_max" min="1" placeholder="Infinity"></label>

        <!-- Percent columns -->
        <label>Helix % min: <input type="number" id="helix_min" min="0" max="100" placeholder="0"></label>
        <label>Helix % max: <input type="number" id="helix_max" min="0" max="100" placeholder="100"></label>

        <label>Strand % min: <input type="number" id="strand_min" min="0" max="100" placeholder="0"></label>
        <label>Strand % max: <input type="number" id="strand_max" min="0" max="100" placeholder="100"></label>

        <label>Coil % min: <input type="number" id="coil_min" min="0" max="100" placeholder="0"></label>
        <label>Coil % max: <input type="number" id="coil_max" min="0" max="100" placeholder="100"></label>

        <label>Inside % min: <input type="number" id="inside_min" min="0" max="100" placeholder="0"></label>
        <label>Inside % max: <input type="number" id="inside_max" min="0" max="100" placeholder="100"></label>

        <label>Membrane-alpha % min: <input type="number" id="membrane_alpha_min" min="0" max="100" placeholder="0"></label>
        <label>Membrane-alpha % max: <input type="number" id="membrane_alpha_max" min="0" max="100" placeholder="100"></label>

        <label>Outside % min: <input type="number" id="outside_min" min="0" max="100" placeholder="0"></label>
        <label>Outside % max: <input type="number" id="outside_max" min="0" max="100" placeholder="100"></label>

        <label>Signal % min: <input type="number" id="signal_min" min="0" max="100" placeholder="0"></label>
        <label>Signal % max: <input type="number" id="signal_max" min="0" max="100" placeholder="100"></label>

        <label>Membrane-beta % min: <input type="number" id="membrane_beta_min" min="0" max="100" placeholder="0"></label>
        <label>Membrane-beta % max: <input type="number" id="membrane_beta_max" min="0" max="100" placeholder="100"></label>

        <label>Periplasm % min: <input type="number" id="periplasm_min" min="0" max="100" placeholder="0"></label>
        <label>Periplasm % max: <input type="number" id="periplasm_max" min="0" max="100" placeholder="100"></label>
        </div>
    </div>
</section>

<section class="vf-content | vf-stack vf-stack--600">
    <h2>Available MGnifams</h2>
    <article class="vf-card vf-card--brand vf-card--bordered vf-stack--600">
        <div class="vf-card__content mgnifams-table-container | vf-stack vf-stack--600">
            <table id="mgnifams-table" class="vf-table mgnifams-table .vf-u-margin__bottom--600">
                <thead class="vf-table__header">
                    <tr class="vf-table__row">
                        <th class="vf-table__heading" scope="col">ID</th>
                        <th class="vf-table__heading" scope="col">Full size</th>
                        <th class="vf-table__heading" scope="col">Representative length</th>
                        <th class="vf-table__heading" scope="col">Helix percent</th>
                        <th class="vf-table__heading" scope="col">Strand percent</th>
                        <th class="vf-table__heading" scope="col">Coil percent</th>
                        <th class="vf-table__heading" scope="col">Inside percent</th>
                        <th class="vf-table__heading" scope="col">Membrane-alpha percent</th>
                        <th class="vf-table__heading" scope="col">Outside percent</th>
                        <th class="vf-table__heading" scope="col">Signal percent</th>
                        <th class="vf-table__heading" scope="col">Membrane-beta percent</th>
                        <th class="vf-table__heading" scope="col">Periplasm percent</th>
                    </tr>
                </thead>
                <tbody class="vf-table__body">
                    {% for mgnifam in mgnifams %}
                    <tr class="vf-table__row mgnifam-item">
                        <td class="vf-table__cell">
                            <a href="{% url 'details' mgnifam.id|format_mgnifam_name %}">
                                {{ mgnifam.id|format_mgnifam_name }}
                            </a>
                        </td>
                        <td class="vf-table__cell">{{ mgnifam.full_size }}</td>
                        <td class="vf-table__cell">{{ mgnifam.rep_length }}</td>
                        <td class="vf-table__cell">{{ mgnifam.helix_percent }}</td>
                        <td class="vf-table__cell">{{ mgnifam.strand_percent }}</td>
                        <td class="vf-table__cell">{{ mgnifam.coil_percent }}</td>
                        <td class="vf-table__cell">
                            {% if mgnifam.inside_percent %}
                                {{ mgnifam.inside_percent }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="vf-table__cell">
                            {% if mgnifam.membrane_alpha %}
                                {{ mgnifam.membrane_alpha }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="vf-table__cell">
                            {% if mgnifam.outside_percent %}
                                {{ mgnifam.outside_percent }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="vf-table__cell">
                            {% if mgnifam.signal_percent %}
                                {{ mgnifam.signal_percent }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="vf-table__cell">
                            {% if mgnifam.membrane_beta_percent %}
                                {{ mgnifam.membrane_beta_percent }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="vf-table__cell">
                            {% if mgnifam.periplasm_percent %}
                                {{ mgnifam.periplasm_percent }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>

{% endblock content %}
